<h2>Quản lý phiếu sửa chữa</h2>
<div class="table-responsive">
  <div class="filter-area">
    <div nz-row [nzGutter]="16">
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="form-group">
          <label class="control-label" class="filter-label"
            >Từ khóa tìm kiếm</label
          >
          <input
            type="text"
            class="form-control"
            [(ngModel)]="filter"
            placeholder="Nhập mã phiếu"
          />
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="4">
        <div class="form-group">
          <label class="control-label" class="filter-label"
            >Ngày tạo phiếu</label
          >
          <input
            type="date"
            class="form-control"
            [(ngModel)]="date"
            placeholder="Chọn ngày tạo phiếu"
          />
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="4" style="margin-top: 22px">
        <button
          type="button"
          class="btn btn-info text-white"
          (click)="getList()"
        >
          Tìm kiếm
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between mb-1 align-items-center">
    <h3 style="font-weight: 500; font-size: 16px">Danh sách phiếu sửa chữa</h3>
    <button type="button" class="btn btn-primary" (click)="openModalCreate()">
      Thêm mới
    </button>
  </div>
  <nz-table
    #basicTable
    [nzData]="danhSach"
    nzBordered
    [nzPageIndex]="pageIndex"
    [nzPageSize]="pageSize"
    [nzTotal]="total"
    [nzFrontPagination]="false"
    (nzQueryParams)="onQueryParamsChange($event)"
  >
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">Mã phiếu</th>
        <th class="text-center">Thiết bị</th>
        <th class="text-center">Nhân viên</th>
        <th class="text-center">Ngày tạo phiếu</th>
        <th class="text-center">Lý do</th>
        <th class="text-center">Trạng thái</th>
        <th class="text-center">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; index as i">
        <td class="text-center">{{ i + 1 }}</td>
        <td>{{ data.ma }}</td>
        <td>{{ getTenThietBi(data.chiTietThietBiId) }}</td>
        <td>{{ getTenNhanSu(data.nhanVienId) }}</td>
        <td class="text-center">{{ data.createTime | date }}</td>
        <td>{{ data.lyDo }}</td>
        <td class="text-center">
          <span class="badge bg-secondary" *ngIf="data.trangThai == 0"
            >Chờ duyệt</span
          >
          <span class="badge bg-danger" *ngIf="data.trangThai == 2"
            >Từ chối</span
          >
          <span class="badge bg-primary" *ngIf="data.trangThai == 1"
            >Duyệt phiếu</span
          >
          <span class="badge bg-success" *ngIf="data.trangThai == 3"
            >Đã sửa xong</span
          >
        </td>
        <td class="text-center">
          <button
            nz-tooltip
            type="button"
            class="btn btn-success text-white me-2"
            nzTooltipTitle="Xác nhận sửa xong"
            (click)="completed(data.id)"
            *ngIf="data.trangThai == 1 && userService.user?.role == 'manager'"
          >
            <span nz-icon nzType="check" nzTheme="outline"></span>
          </button>
          <button
            nz-tooltip
            type="button"
            class="btn btn-primary text-white me-2"
            nzTooltipTitle="Duyệt"
            (click)="approve(data.id)"
            *ngIf="data.trangThai == 0 && userService.user?.role == 'manager'"
          >
            <span nz-icon nzType="forward" nzTheme="outline"></span>
          </button>
          <button
            nz-tooltip
            type="button"
            class="btn btn-warning text-white me-2"
            nzTooltipTitle="Từ chối"
            (click)="deny(data.id)"
            *ngIf="data.trangThai == 0 && userService.user?.role == 'manager'"
          >
            <span nz-icon nzType="close" nzTheme="outline"></span>
          </button>
          <button
            nz-tooltip
            type="button"
            class="btn btn-danger text-white"
            nzTooltipTitle="Xóa"
            (click)="delete(data)"
            *ngIf="data.trangThai == 0"
          >
            <span nz-icon nzType="delete" nzTheme="outline"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<nz-modal
  [nzVisible]="isShowModal"
  [nzTitle]="title"
  (nzOnCancel)="isShowModal = false"
  [nzFooter]="modalFooter"
>
  <ng-container *nzModalContent>
    <form [formGroup]="form">
      <div class="form-group mt-3">
        <label class="control-label me-3 label-form" for="chiTietThietBiId">
          Thiết bị y tế:</label
        >
        <select
          id="chiTietThietBiId"
          formControlName="chiTietThietBiId"
          class="form-control"
        >
          <option value="" disabled selected hidden>Chọn thiết bị</option>
          <option *ngFor="let option of dsThietBiSuaChua" [value]="option.id">
            {{ option.ma }}
          </option>
        </select>
      </div>
      <div class="form-group mt-3">
        <label class="control-label me-3 label-form" for="lyDo"> Lý do: </label>
        <textarea
          id="lyDo"
          formControlName="lyDo"
          placeholder="Nhập lý do sửa chữa"
          class="form-control"
        >
        </textarea>
      </div>
    </form>
  </ng-container>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="isShowModal = false">
      Đóng
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="save()"
      [nzLoading]="isConfirmLoading"
    >
      Lưu
    </button>
  </ng-template>
</nz-modal>
