<div class="row" style="margin-bottom: 16px">
  <div class="col-md-6">
    <input class="form-control" type="file" #fileInput />
  </div>
  <div class="col-md-6">
    <button class="btn btn-primary" (click)="uploadFile()">Upload</button>
  </div>

  <div class="mt-5">
    <p>
      <i
        nz-icon
        class="text-danger fw-bolder"
        nzType="double-right"
        nzTheme="outline"
      ></i>
      Tải file mẫu
      <a href="/assets/Import_Template_DSThietBi.xlsx" download> Tại đây</a>
    </p>
  </div>
</div>

<ng-container *ngIf="showDataTable == true">
  <h2 style="margin-top: 20px;">Danh sách thiết bị hợp lệ</h2>
  <nz-table
    #basicTable
    [nzData]="datatable"
    #borderedTable
    [nzFrontPagination]="false"
    [nzScroll]="{ x: '1500px' }"
  >
    <thead>
      <tr>
        <th class="text-center">STT</th>
        <th class="text-center">Mã</th>
        <th class="text-center">Tên thiết bị</th>
        <th class="text-center">Ngày nhập</th>
        <th class="text-center">Xuất sứ</th>
        <th class="text-center">Năm sản xuất</th>
        <th class="text-center">Hãng sản xuất</th>
        <th class="text-center">Tình trạng</th>
        <th class="text-center">Khoa</th>
        <th class="text-center">Nhân viên</th>
        <th class="text-center">Serial</th>
        <th class="text-center">Model</th>
        <th class="text-center">Giá tiền</th>
        <th class="text-center">Thời gian bảo dưỡng</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; index as i">
        <td class="text-center">{{ i + 1 }}</td>
        <td>{{ data?.ma }}</td>
        <td>{{ getTenThietBi(data?.thietBiYTeId) }}</td>
        <td>{{ data?.ngayNhap | date : "dd/MM/yyyy" }}</td>
        <td>{{ data?.xuatXu }}</td>
        <td>{{ data?.namSX }}</td>
        <td>{{ data?.hangSanXuat }}</td>
        <td>{{ data?.tinhTrang }}</td>
        <td>{{ data?.khoaId }}</td>
        <td class="text-center">{{ data?.nhanVienId }}</td>
        <td class="text-center">{{ data?.serial }}</td>
        <td class="text-center">{{ data?.model }}</td>
        <td class="text-center">{{ data?.giaTien }}</td>
        <td class="text-center">{{ data?.thoiGianBaoDuong }}</td>
      </tr>
    </tbody>
  </nz-table>

  <div class="col-md-6">
    <button class="btn btn-primary" (click)="import()">Save</button>
  </div>
</ng-container>

<ng-container *ngIf="showError == true">
  <h2 style="margin-top: 20px;">Danh sách thiết bị lỗi nhập vào</h2>
  <nz-table
    #basicTable
    [nzData]="dataErrorTable"
    #borderedTable
    [nzFrontPagination]="false"
    [nzScroll]="{ x: '1500px' }"
  >
    <thead>
      <tr>
        <th class="text-center">STT</th>
        <th class="text-center">Mã</th>
        <th class="text-center">Tên thiết bị</th>
        <th class="text-center">Ngày nhập</th>
        <th class="text-center">Xuất sứ</th>
        <th class="text-center">Năm sản xuất</th>
        <th class="text-center">Hãng sản xuất</th>
        <th class="text-center">Tình trạng</th>
        <th class="text-center">Khoa</th>
        <th class="text-center">Nhân viên</th>
        <th class="text-center">Serial</th>
        <th class="text-center">Model</th>
        <th class="text-center">Giá tiền</th>
        <th class="text-center">Thời gian bảo dưỡng</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; index as i">
        <td class="text-center">{{ i + 1 }}</td>
        <td>{{ data?.ma }}</td>
        <td>{{ getTenThietBi(data?.thietBiYTeId) }}</td>
        <td>{{ data?.ngayNhap | date : "dd/MM/yyyy" }}</td>
        <td>{{ data?.xuatXu }}</td>
        <td>{{ data?.namSX }}</td>
        <td>{{ data?.hangSanXuat }}</td>
        <td>{{ data?.tinhTrang }}</td>
        <td>{{ data?.khoaId }}</td>
        <td class="text-center">{{ data?.nhanVienId }}</td>
        <td class="text-center">{{ data?.serial }}</td>
        <td class="text-center">{{ data?.model }}</td>
        <td class="text-center">{{ data?.giaTien }}</td>
        <td class="text-center">{{ data?.thoiGianBaoDuong }}</td>
      </tr>
    </tbody>
  </nz-table>

  <div *ngFor="let data of dataError">
    <span style="color: red">* {{ data }}</span>
  </div>
</ng-container>
