<h2>Nhân Viên</h2>
<div class="table-responsive">
  <div class="filter-area">
    <div nz-row [nzGutter]="16">
      <div nz-col class="gutter-row" [nzSpan]="9">
        <div class="form-group">
          <label class="control-label" class="filter-label"
            >Từ khóa tìm kiếm</label
          >
          <input
            type="text"
            class="form-control"
            [(ngModel)]="filter"
            placeholder="Nhập tên nhân viên"
          />
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="4" style="margin-top: 22px">
        <button
          type="button"
          class="btn btn-info text-white"
          (click)="getList()"
        >
          Tìm kiếm
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between mb-1 align-items-center">
    <h3 style="font-weight: 500; font-size: 16px">Danh sách nhân viên</h3>
    <button type="button" class="btn btn-primary" (click)="openModalCreate()">
      Thêm mới
    </button>
  </div>
  <nz-table
    [nzData]="danhSach"
    #borderedTable
    nzBordered
    [nzPageIndex]="pageIndex"
    [nzPageSize]="pageSize"
    [nzTotal]="total"
    [nzFrontPagination]="false"
    (nzQueryParams)="onQueryParamsChange($event)"
  >
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">Mã</th>
        <th class="text-center">Tên</th>
        <th class="text-center">Số điện thoại</th>
        <th class="text-center">Email</th>
        <th class="text-center">Khoa</th>
        <th class="text-center">Địa chỉ</th>
        <th class="text-center">Là quản lý kho</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of borderedTable.data; index as i">
        <td class="text-center">{{ i + 1 }}</td>
        <td>{{ data?.ma }}</td>
        <td>{{ data?.ten }}</td>
        <td class="text-center">{{ data?.sdt }}</td>
        <td class="text-center">{{ data?.email }}</td>
        <td class="text-center">{{ getTenKhoa(data?.khoaId) }}</td>
        <td class="text-center">{{ data?.diaChi }}</td>
        <td class="text-center">
          <span
            nz-icon
            nzType="check-circle"
            nzTheme="outline"
            *ngIf="data?.laQuanLyThietBi"
            class="text-success"
            style="font-size: 20px"
          ></span>
          <span
            nz-icon
            nzType="close-circle"
            nzTheme="outline"
            *ngIf="data?.laQuanLyThietBi != true"
            class="text-danger"
            style="font-size: 20px"
          ></span>
        </td>
        <td class="text-center">
          <button
            type="button"
            class="btn btn-info text-white me-2"
            nzTooltipTitle="Cấp tài khoản"
            (click)="openModalAccount(data)"
            *ngIf="data.accountId == ''"
          >
            <span nz-icon nzType="user" nzTheme="outline"></span>
          </button>
          <button
            type="button"
            class="btn btn-info text-white me-2"
            nzTooltipTitle="Sửa"
            (click)="openModalUpdate(data)"
          >
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </button>
          <button
            type="button"
            class="btn btn-danger text-white"
            nzTooltipTitle="Xóa"
            (click)="delete(data.id, data.ten)"
          >
            <span nz-icon nzType="delete" nzTheme="outline"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<nz-modal
  [nzVisible]="isShowModal"
  [nzTitle]="title"
  (nzOnCancel)="isShowModal = false"
  [nzFooter]="modalFooter"
>
  <ng-container *nzModalContent>
    <form [formGroup]="form">
      <div class="form-group mt-3">
        <label class="control-label me-3 label-form" for="ma"> Mã: </label>
        <input
          id="ma"
          formControlName="ma"
          placeholder="Nhập mã nhân viên"
          class="form-control"
        />
      </div>
      <div class="form-group mt-3">
        <label class="control-label me-3 label-form" for="ten"> Tên: </label>
        <input
          id="ten"
          formControlName="ten"
          placeholder="Nhập tên nhân viên"
          class="form-control"
        />
      </div>
      <div class="form-group mt-3">
        <label class="control-label me-3 label-form" for="sdt">
          Số điện thoại
        </label>
        <input
          id="sdt"
          formControlName="sdt"
          placeholder="Nhập số điện thoại"
          class="form-control"
        />
      </div>
      <div class="form-group mt-3">
        <label class="control-label me-3 label-form" for="email"> Email:</label>
        <input
          id="email"
          formControlName="email"
          placeholder="Nhập email"
          class="form-control"
        />
      </div>
      <div class="form-group mt-3">
        <label class="control-label me-3 label-form" for="khoaId"> Khoa:</label>
        <select formControlName="khoaId" id="khoaId" class="form-select">
          <option value="" disabled selected hidden>Chọn khoa</option>
          <option *ngFor="let item of listKhoa" [ngValue]="item.id">
            {{ item.ten }}
          </option>
        </select>
      </div>
      <div class="form-group mt-3">
        <label class="control-label me-3 label-form" for="diaChi">
          Địa chỉ:</label
        >
        <input
          id="diaChi"
          formControlName="diaChi"
          placeholder="Nhập địa chỉ"
          class="form-control"
        />
      </div>
      <div class="form-group mt-3">
        <label class="control-label me-3 label-form" for="laQuanLyThietBi">
          Là quản lý kho:</label
        >
        <input
          id="laQuanLyThietBi"
          class="form-check-input mt-0"
          type="checkbox"
          formControlName="laQuanLyThietBi"
        />
      </div>
    </form>
  </ng-container>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="isShowModal = false">
      Đóng
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="save()"
      [nzLoading]="isConfirmLoading"
    >
      Lưu
    </button>
  </ng-template>
</nz-modal>

<nz-modal
  [nzVisible]="isShowModalAccount"
  [nzTitle]="'Cấp tài khoản'"
  (nzOnCancel)="isShowModalAccount = false"
  [nzFooter]="modalFooterAccount"
>
  <ng-container *nzModalContent>
    <form [formGroup]="formAccount">
      <div class="form-group mt-3">
        <label class="control-label me-3 label-form" for="email"> Email:</label>
        <input
          id="email"
          formControlName="email"
          placeholder="Nhập email"
          type="email"
          class="form-control"
        />
      </div>
      <div class="form-group mt-3">
        <label class="control-label me-3 label-form" for="userName">
          Tài khoản:
        </label>
        <input
          id="userName"
          formControlName="userName"
          placeholder="Nhập tài khoản"
          class="form-control"
        />
      </div>
      <div class="form-group mt-3">
        <label class="control-label me-3 label-form" for="password">
          Mật khẩu:
        </label>
        <input
          id="password"
          formControlName="password"
          placeholder="Nhập mật khẩu"
          class="form-control"
          type="password"
        />
      </div>
    </form>
  </ng-container>
  <ng-template #modalFooterAccount>
    <button nz-button nzType="default" (click)="isShowModalAccount = false">
      Đóng
    </button>
    <button nz-button nzType="primary" (click)="register()">Lưu</button>
  </ng-template>
</nz-modal>
